<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>User purchases</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
  <div id="commodity-anchor" class="container">
    <form method="get">
      <label for="commodity" class="form-label">Name</label>
      <textarea type="text" rows="5" required class="form-control" id="name" name="name" placeholder="Name"><%= name_commodity %></textarea>
      <label for="price" required class="form-label">Price</label>
      <input type="text" value="<%= price_commodity %>" class="form-control" id="price" name="price"
        placeholder="Price">
      <button type="submit" class="btn btn-primary">Search</button>
    </form>

    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% for(const commodity of commodities) { %>
          <tr>
            <td>
              <%= commodity.id_commodity %>
            </td>
            <td>
              <%= commodity.name_commodity %>
            </td>
            <td>
              <%= commodity.price_commodity %>
            </td>
          </tr>
          <% } %>
      </tbody>
    </table>
  </div>
</body>
