<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User purchases</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div id="commodity-anchor" class="container">
    <h1>User <%-id_user%></h1>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <% for(const commodity of commodities) { %>
        <tr>
            <td><%= commodity.id_commodity %></td>
            <td><%= commodity.name_commodity %></td>
            <td><%= commodity.price_commodity %></td>
        </tr>
        <% } %>
        </tbody>
    </table>
</div>
</body>
